<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/nicepage.css" media="screen">
    <link rel="stylesheet" href="/static/css/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="/static/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/js/nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">  
  </head>


  <body data-home-page="index.html" data-home-page-title="Home" class="u-body u-xl-mode" data-lang="en">
    
    <header class="u-clearfix u-header u-header" id="sec-82ba">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a class="u-image u-logo u-image-1">
          <img src="/static/img/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" onclick="window.location.href='/'" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" onclick="window.location.href='/About'" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item">
                <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" onclick="window.location.href='/Contact'"style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item">
                    <form>
                    <a class="u-button-style u-nav-link" href="Home.html">Home</a>
                    </form>
                  </li>
                  <li class="u-nav-item">
                    </form>
                    <a class="u-button-style u-nav-link"  href="About.html">About</a>
                    </form>
                  </li>
                  <li class="u-nav-item">
                    <form>
                    <a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
                    </form>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>

    <section class="u-clearfix u-section-1" id="carousel_62d3">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center-lg u-container-align-center-xl u-container-align-left-sm u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-middle-xs u-container-layout-1">
                  <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="/static/img/mockup.png" alt="" data-image-width="826" data-image-height="826">
                </div>
              </div>
              <div class="u-align-left u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-container-align-center u-container-style u-group u-opacity u-opacity-80 u-palette-1-base u-radius-50 u-shape-round u-group-1">
                    <div class="u-container-layout">
                      <h6 class="u-text u-text-default u-text-palette-1-light-3 u-text-1">Mobile App</h6>
                    </div>
                  </div>
                  <h1 class="u-align-left u-text u-text-palette-1-base u-text-8"><b>VisionAI</b>
                  </h1>
                  <h6 class="u-align-left u-text u-text-palette-1-base u-text-6">[Innovative Health Care System]</h6>
                  <p class="u-align-left u-text u-text-3"> Utilize Human eye fundus screening system based on AI deep learning technology. Four ophthalmic disease results can be provided - normal, cataract, glaucoma and other retinal diseases. Access medical information easily through VisionAI. </p>
                  <div class="u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                          <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2" src="/static/img/app.png" alt="" data-image-width="167" data-image-height="50">
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                          <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3" src="/static/img/playstore.png" alt="" data-image-width="168" data-image-height="50">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-section-101" id="sec-328d">
      <div class="u-clearfix u-sheet u-sheet-101">
        <div class="u-align-center u-container-style u-group u-group-101">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-text u-text-101"><b>MOVE TOWARD THE FUTURE</b></h2>
            <p class="u-text u-text-102"> VisionAI is a medical platform developed for those&nbsp;<br>who are not able to receive specialized medical care in hospitals.
            </p>
          </div>
        </div>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h1 class="u-text u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">4</h1>
                <p class="u-text u-text-4">4 different fundus result</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h1 class="u-text u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">80</h1>
                <p class="u-text u-text-6">80% accuracy predicting fundus disease</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h1 class="u-text u-title u-text-7" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">8000</h1>
                <p class="u-text u-text-8">8000 sheet of fundus data used<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-align-left u-clearfix u-section-3" id="sec-2538">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center;">
            <span style="line-height: 2.0;"><b>How it works</b></span>
          </h1>
          <p style="text-align: center;">
            <span style="line-height: 2.0;">VisionAI provides services that can diagnose human eye fundus diseases based on AI deep learning technology. It analyzes fundus photos among medical data that can diagnose ophthalmic diseases. VisionAI uses a model that divides ocular fundus photographs data containing 8,000 sheets provided by Kaggle into four categories (normal, cataract, glaucoma, and retinal disease). The learning model applies CNN (a convolutional neural network: a model specialized for image processing) among deep learning algorithms, and the network consists of an Efficient net. After that, as an optimization process, a web page is built by applying the developed model while tuning hyperparameters. The diagnosis results of the fundus photos are provided through the web page. 
            </span>
          </p>
        </div>
      </div>
    </section>

    <section class="u-align-center u-clearfix u-white u-section-4" id="carousel_9af0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-palette-1-base u-text-1">Features</h4>
        <h1 class="u-text u-text-default u-text-palette-1-base u-text-2">Our Features &amp; Services.</h1>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img src="/static/img/users-with-speech-bubbles-vector_53876-82250.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-1" data-image-width="626" data-image-height="625">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-3">Communications</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-4">Customers may contact VisionAI directly through email whenever they get curious about our service. email: psj03283@gmail.com
                </p>
               </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img src="/static/img/fdf.jpg" alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="626" data-image-height="625">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-5">Descriptions</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-6"> It provides detailed explanations for certain diseases. Possible treatments will be introduced in the examination report. 
                </p>
                </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img src="/static/img/dsds.jpg" alt="" class="u-expanded-width u-image u-image-contain u-image-default u-image-3" data-image-width="626" data-image-height="626">
                <h4 class="u-text u-text-default u-text-palette-1-base u-text-7">Satisfying results</h4>
                <p class="u-text u-text-palette-1-dark-2 u-text-8">The service provides more than 80% accurate examination result for the ocular fundus photographs. 
                </p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <form action="http://localhost:5000/result" method = "POST" enctype="multipart/form-data">         
    <section class="u-align-center u-clearfix u-grey-5 u-section-104" id="sec-137d">
      <div class="u-clearfix u-sheet u-sheet-101">
        <div class="u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-101">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
               
                <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-101">  
                  <div class="u-container-layout u-valign-top u-container-layout-101">
                    <h5 class="u-text u-text-101">fundus photo 1</h5>
                    <h3 class="u-text u-text-102">RIGHT FUNDUS</h3>
                    <p class="u-text u-text-103">Attach file below.<br>Fundus Photo (right)
                    </p>
                    <img src="/static/img/right.jpg" class="u-image" data-image-width="50" data-image-height="50">
                    <a class="u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-2-base u-palette-1-base u-btn-101">
                      <input type="file" name="file1">
                    </a>
                  <!--
                    <a class="u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-2-base u-palette-1-base u-btn-101">
                      <input type="submit" value="save">
                    </a>
                    </form>
                  -->
                  </div>
                </div>             
              <!--
                <div class="u-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-102">
                  <div class="u-container-layout u-valign-top u-container-layout-102">
                    <h5 class="u-text u-text-104">fundus photo 2</h5>
                    <h3 class="u-text u-text-105">LEFT FUNDUS</h3>
                    <p class="u-text u-text-106"> Attach file below.<br>Fundus Photo (left)
                    </p>
                    <img src="/static/img/left.jpg" class="u-image" data-image-width="50" data-image-height="50">
                    <a href="" class="u-border-radius-50 u-btn u-btn-round u-button-style u-hover-palette-2-base u-palette-1-base u-btn-102">
                      <input type="file" name="profile2">
                    </a> 
                  </div>
                </div>
              -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-5" id="sec-bb65">
      <div class="u-align-center u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Start a new trial</h2>
        <p class="u-text u-text-2">Click the submit button after you attach both left and right fundus photos.&nbsp;<br>The result page will be shown.&nbsp;</p>
        <!--<a href="submit.html" ><input type="submit" value="submit"></a>-->
        <input type="submit"/>
      </div>
    </section>
    </form>
    

    <section class="u-align-center u-clearfix u-grey-5 u-section-106" id="sec-3c90">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-101">
        <h2 class="u-text u-text-default u-text-101">Contact Us</h2>
        <div class="u-form u-form-101">
          <form action="https://forms.nicepagesrv.com/Form/Process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-3b9a" class="u-label">Name</label>
              <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-border-101 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-3b9a" class="u-label">Email</label>
              <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required="">
            </div>
            <div class="u-form-group u-form-message u-label-none">
              <label for="message-3b9a" class="u-label">Message</label>
              <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-white" required=""></textarea>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    
    <section class="u-backlink u-clearfix u-grey-80"></section>
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-0c0c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">© VisionAI. All Rights Reserved.<br>by. Sungju Park</p>
      </div>
    </footer>
    
  
  </body>
</html>